// Peremennye

// Colors
$orange: #e98e19;
$green: #3a9c61;
$black: #241e18;
$white: #ffffff;
$grayFon: #f2f0e9;
$gray: #65615d;
$lightGray: #a6a49d;

// Font size
$f12: 1.2rem;
$f14: 1.4rem;
$f16: 1.6rem;
$f18: 1.8rem;
$f22: 2.2rem;
$f24: 2.4rem;
$f36: 3.6rem;
$f48: 4.8rem;

// 