//buttons

.btn{
    display: inline-block;
    padding-right: 4.5rem;
    padding-left: 4.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 4.5rem;
    text-transform: uppercase;
    font-family: $osb;
    font-size: $f14;
}

.btn-white{
    border: 0.1rem solid white;
    color: $white;
    margin-right: 1.5rem;
}

.btn-orange{
    border: 0.1rem solid transparent;
    color: $white;
    background-color: $orange;
    margin-left: 1.5rem;
}

.btn-green {
    border: 0.2rem solid $green;
    color: $green;
}